.loading, .error {
  padding: 2rem;
  text-align: center;
}

.date-nav {
  display: flex;
  justify-content: space-between;
}

.table-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attendances-register {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attendances-register__container-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.attendances-register__title {
    font-size: 20px;
    font-weight: 700;
}

.attendances-register__content {
    font-size: 11;
    color: #6b7280;
}

.attendance-legend {
    display: flex;
    gap: 7px;
    flex-direction: column;
}

.legend-item {
    display: flex;
    gap: 5px;
}