.notifications-item {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 16px;
    background: #fff;
    /* border: 1px solid #e5e7eb; */
    box-shadow: 0 0 5px #ecedee;
    border-radius: 10px;
}

.notifications-item--unread {
    /* border-left: 3px solid #007832; */
    background: #0078320e;
    box-shadow: 0 0 5px #d1d2d3;
}

.notifications-item__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.notifications-item__title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: #111827;
}

.notifications-item__dot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: #007832;
    display: inline-block;
}

.notifications-item__content {
    margin-top: 6px;
    color: #374151;
    font-size: 13px;
}

.notifications-item__time {
    margin-top: 8px;
    color: #6b7280;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.notifications-item__actions {
    display: flex;
    gap: 6px;
    align-items: flex-start;
}