.app-layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  max-height: 100vh;
  background: #f8fafc;
}

.app-layout__main {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.app-layout__content {
  overflow: scroll;
  padding: 20px;
}

