.header-real-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-real-class__container-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-real-class__title {
    font-size: 20px;
    font-weight: 700;
}

.header-real-class__content {
    font-size: 11;
    color: #6b7280;
}