.forgot {
  display: flex;
  justify-content: flex-start;
  margin-top: -10px;
}

.forgot__link {
  font-size: 13px;
  font-weight: 600;
  color: #007832;
  text-decoration: none;
}

.forgot__link:hover {
  text-decoration: underline;
}