.auth-card {
  min-width: 750px;
  min-height: 450px;
  display: grid;
  grid-template-columns: 310px 1fr;
  border-radius: 16px;
  overflow: visible;
  background: #fff;
  box-shadow: 0 18px 60px rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.auth-card__left {
  background: #007832;
  color: #fff;
  display: grid;
  place-items: center;
  padding: 24px;
  margin-top: -40px;
  transform: translateY(20px);
  border-radius: 16px;
}

.auth-card__right {
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.auth-card_rightHeader {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.auth-card__title {
  margin: 0;
  font-size: 22px;
}

.auth-card__subtitle {
  color: #6b7280;
  font-size: 13px;
}
