.app-sidebar {
  background: #007832;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* gap: 15px; */
}

.app-sidebar__brand {
  padding: 0 14px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.app-sidebar__logo {
  width: 50px;
  height: 50px;
  background-color: #003c19;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 7px;
}

.app-sidebar__logo img {
  width: 100%;
  height: auto;
}

.app-sidebar__title {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.app-sidebar__nav {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  overflow: auto;
}

.app-sidebar__nav::-webkit-scrollbar {
  width: 5px;
}

.app-sidebar__nav::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}

.app-sidebar__item {
  display: flex;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  padding: 13px;
}

.app-sidebar__item:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

.app-sidebar__item--active {
  background: #39a900;
  color: #fff;
}

.app-sidebar__item:active {
  transform: scale(0.98);
}

.app-sidebar__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}