.app-sidebar {
  background: #007832;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 15px;
}

.app-sidebar__brand {
  padding: 0 14px;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.app-sidebar__logo {
  width: 60px;
  height: 60px;
  background-color: #003c19;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 7px;
}

.app-sidebar__logo img {
  width: 100%;
  height: auto;
}

.app-sidebar__title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.app-sidebar__nav {
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.app-sidebar__item {
  display: flex;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  padding: 15px 15px;
}

.app-sidebar__item:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

.app-sidebar__item--active {
  background: #39a900;
  color: #fff;
}

.app-sidebar__item:active {
  transform: scale(0.98);
}

.app-sidebar__icon {
  width: 23px;
  height: 23px;
  flex-shrink: 0;
}
