.card {
  border-radius: 12px;
  padding: 25px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,.04);
  background: #fff;
}

.card--info {
  background: #eef6ff;
  border-color: #d6e9ff;
}

.card__title {
  font-size: 16px;
  font-weight: 800;
  margin: 0 0 14px 0;
  color: #111;
}

.card__title--info {
  color: #1e40af;
}

.card__body--info {
  color: #1e40af;
  font-size: 0.8rem;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
