.input-field {
  display: grid;
  gap: 6px;
}

.input-field__label {
  font-size: 13px;
  color: #374151;
  font-weight: 500;
}

.input-field__input {
  height: 42px;
  border-radius: 10px;
  border: 2px solid #e5e7eb;
  padding: 0 12px;
  outline: none;
}

.input-field__input:focus {
  border: #007832 solid 2px;
}

.input-field--error .input-field__input {
  border-color: #b91c1c;
}

.input-field__error {
  display: block;
  margin-top: -2px;
  font-size: 12px;
  color: #b91c1c;
}
