.auth-layout {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 30px;
    background: url('../../assets/auth_background.png') no-repeat center/cover;
}

.auth-layout::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.login__form,
.register__form {
    display: grid;
    gap: 20px;
}

.login__error,
.register__error {
    margin: 0;
    color: #b91c1c;
    font-size: 13px;
}

.login__brand,
.register__brand {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.login__logo,
.register__logo {
    width: 190px;
    height: 190px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    letter-spacing: 1px;
}

.login__logoImg,
.register__logoImg {
    width: 100%;
    height: auto;
}

.login__brandText,
.register__brandText {
    font-weight: 700;
    font-size: 25px;
}

.login__form>.btn,
.register__form>.btn {
    margin-top: 10px;
}

.register__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}