.data-list-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.data-list-page__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
}

.data-list-page__header button {
  width: 100px;
  font-size: 1rem;
}
